body {
    padding: 0px;
    margin: 0px;
}

#clock {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(225, 252, 184);
    height: 300px;
}

#clock span {
    font-size: 100px;
    font-family: sans-serif;
}


/* button */

#buttons {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 10px 50px;
    height: 100px;
    background-color: rgb(204, 250, 134);
    outline: none;
}

#buttons #start {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    border: 1px solid rgb(6, 201, 6);
    box-shadow: 0px 10px rgb(6, 201, 6);
    background-color: rgb(65, 230, 65);
    color: white;
    outline: 0px;
    cursor: pointer;
}

#buttons #start:active,
#buttons #reset:active,
#buttons #stop:active {
    box-shadow: none;
    margin-top: 10px;
    cursor: pointer;
}

#buttons #stop {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    border: 1px solid rgb(202, 28, 57);
    box-shadow: 0px 10px rgb(202, 28, 57);
    background-color: rgb(252, 36, 72);
    color: white;
    outline: 0px;
    cursor: pointer;
}

#buttons #reset {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    border: 1px solid rgb(42, 42, 168);
    box-shadow: 0px 10px rgb(42, 42, 168);
    background-color: rgb(76, 76, 250);
    color: white;
    outline: 0px;
    cursor: pointer;
}


/* button */

@media(max-width: 600px) {
    #clock span {
        font-size: 50px;
    }
    #buttons #reset {
        font-size: 12px;
        height: 45px;
        width: 45px;
        box-shadow: 0px 5px rgb(42, 42, 168);
    }
    #buttons #stop {
        font-size: 12px;
        height: 45px;
        width: 45px;
        box-shadow: 0px 5px rgb(202, 28, 57);
    }
    #buttons #start {
        font-size: 12px;
        height: 45px;
        width: 45px;
        box-shadow: 0px 5px rgb(6, 201, 6);
    }
    #buttons #start:active,
    #buttons #reset:active,
    #buttons #stop:active {
        margin-top: 5px;
    }
}